.navigation-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0 0 10px var(--tertiary-color);
    padding: 0 20px;

    .logo{
    height: 60px;
    width: 60px;
}

    .nav-link{
    font-size: 22px;
    margin: 0px 10px 0px 10px;

    &:hover{
        color: var(--white-color);
    } 
}
}

