.col{
    float: left;
    width: 25%;
    height: 100vh;
    border-right: 1px solid var(--tertiary-color);

    h1{
        text-align: center;
        color: var(--primary-color);
    }
}
.row{
    height: 100vh;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}