.home-container{
    .main-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        padding: 0 20px;
    }
    .main-section__text{
        background-color: #000;
        box-shadow: 0 0 10px var(--tertiary-color);
        padding: 20px;
        text-align: center;
    }
    .span-color{
        color: var(--white-color);
        text-shadow: 3px 3px 3px var(--tertiary-color);
    }
    h3{
        font-size: 40px;
        color: var(--secondary-color);
        text-shadow: 0.5px 0.5px 0.5px var(--white-color);
    }
    h1{
        font-size: 60px;
        color: var(--secondary-color);
        text-shadow: 0.5px 0.5px 0.5px var(--white-color);
    }
    .secondary-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        background-color: #000;
        padding: 0 20px;
        border-bottom: 1px solid var(--primary-color);

        p{
            font-size: 20px;
            color: var(--white-color);
            margin-top: 20px;
            line-height: 1.5;
            letter-spacing: 1px;
            padding: 0 20px;
            text-align: center;
        }
        h3{
            font-size: 40px;
            color: var(--primary-color);
            text-shadow: 1px 1px 1px var(--white-color);
        }
    }
}
